// Заголовки, загальні БЕМ блоки та інше...
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: rem(15);
  border-radius: rem(25);
  padding: rem(10) rem(20);
  transition: all .3s ease-out;
}
.btn-orange {
  background-color: $orange;
  color: white;
  @media (any-hover: hover) {
    &:hover {
      background-color: $gray;
    }
  }
}