//==== MAIN ===============================================================
.main {
  @include adaptiveValue("padding-top", 204, 130);
  @include adaptiveValue("padding-bottom", 70, 50);
  @media (max-width:$tablet){
    padding-bottom: unset;
  }
  // .main__container
  &__container {
    display: flex;
    @media (max-width:$mobile){
        flex-direction: column;
        row-gap: rem(30);
    }
  }
  // .main__info
  &__info {
  }
  // .main__image
  &__image-ibg {
    display: flex;
    width: 50%;
    height: 100%;
    @media (max-width:$mobile){
       width: 100%; 
    }
    img {
      height: auto;
      @media (max-width:$tablet){
        position: relative;
      }
    }
  }
}
.info-main {
  width: 50%;
  @media (max-width:$mobile){
     width: 100%; 
  }
  // .info-main__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .info-main__items
  &__items {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .info-main__list
  &__list {
    display: flex;
    @include adaptiveValue("column-gap", 20, 10);
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .info-main__image
  &__image-ibg {
    flex: 0 0 1.25rem;
    height: rem(20);
    border-radius: 50%;
    background-color: $orange;
    img {
      width:rem(12);
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(105%) contrast(105%);
    }
  }
  // .info-main__text
  &__text {
    line-height: 1.25;
  }
  // .info-main__buttons
  &__buttons {
    display: flex;
    gap: rem(20);
    @media (max-width:$mobileSmall){
       flex-direction: column; 
    }
  }
  // .info-main__btn
  &__btn {
  }
}


//==== BENEFIT ========================================================
.benefit {
  @include adaptiveValue("padding-top", 70, 50);
  @include adaptiveValue("padding-bottom", 70, 50);
  background-color: #f5f5f5;
  // .benefit__container
  &__container {
  }
  // .benefit__title
  &__title {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 25);
    }
  }
  // .benefit__content
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
    @media (max-width:$tablet){
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width:$mobile){
       grid-template-columns: 1fr; 
    }
  }
  // .benefit__item
  &__item {
    display: flex;
    align-items: center;
    gap: rem(15);
  }
  // .benefit__image
  &__image {
    img {
      height: rem(70);
      width: auto;
      @media (max-width:$mobile){
         height: rem(50); 
      }
    }
  }
  // .benefit__text
  &__text {
   @include adaptiveValue("font-size", 24, 22);
   line-height: 1.25;
   font-weight: 700;
  }
}


//==== PURPOSE ========================================================
.purpose {
  @include adaptiveValue("padding-top", 60, 50);
  @include adaptiveValue("padding-bottom", 60, 50);
  background-color: $mainColor;
  // .purpose__container
  &__container {
    display: flex;
    align-items: center;
    gap: rem(30);
    padding-bottom: rem(50);
    @media (max-width:$mobile){
       flex-direction: column; 
    }
  }
  // .purpose__info
  &__info {
  }
  // .purpose__slider-block
  &__slider-block {
    width: 50%;
    @media (max-width:$mobile){
       width: 100%; 
    }
  }
  // .purpose__slider
  &__slider {
    position: relative;
  }
  // .purpose__wrapper
  &__wrapper {
  }
  // .purpose__slide
  &__slide {
  }
  // .purpose__slide-img
  &__slide-img-ibg {
    height: 320px;
    width: 100%;
    @media (max-width:$mobile){
       height: rem(450); 
    }
    @media (max-width:$mobileSmall){
       height: rem(280); 
    }
  }
}
.info-purpose {
  width: 50%;
  @media (max-width:$mobile){
     width: 100%; 
  }
  // .info-purpose__title
  &__title {
    color: white;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .info-purpose__text
  &__text {
    color: white;
    line-height: 1.25;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .info-purpose__items
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(20);
    row-gap: rem(15);
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .info-purpose__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
  }
  // .info-purpose__image
  &__image {
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width:rem(12);
      height: auto;
    }
  }
  // .info-purpose__btn
  &__btn {
  }
}

//==== CHOICE ========================================================
.choice {
  @include adaptiveValue("padding-top", 70, 50);
  @include adaptiveValue("padding-bottom", 70, 50);
  // .choice__container
  &__container {
  }
  // .choice__title
  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .choice__text
  &__text {
    text-align: center;
  }
  // .choice__cards
  &__cards {
    margin-top: rem(50);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobile){
      grid-template-columns: 1fr;
    }
  }
}
.card-choice {
  max-width: rem(400);
  border-radius: rem(10);
  overflow: hidden;
  @media (max-width:$tablet){
    max-width: rem(500);
  }
  @media (max-width:$mobile){
     max-width: 100%; 
  }
  // .card-choice__image-ibg
  &__image-ibg {
    padding-bottom: 86%;
  }
  // .card-choice__content
  &__content {
    padding: rem(20) rem(10) rem(10);
    background-color: #f5f5f5;
  }
  // .card-choice__title
  &__title {
    @include adaptiveValue("font-size", 20, 18);
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .card-choice__list
  &__list {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }
  // .card-choice__li
  &__li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
  // .card-choice__name
  &__name {
  }
  // .card-choice__dot
  &__dot {
    border-bottom: rem(1) dotted $mainColor;
    margin: rem(0) rem(5) rem(5);
  }
  // .card-choice__info
  &__info {
  }
  // .card-choice__buttons
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: rem(10);
    @media (max-width:$mobileSmall){
       flex-direction: column; 
    }
  }
  // .card-choice__btn
  &__btn {
    width: 100%;
    font-size: rem(13);
    padding: rem(10);
  }
}
